<div class="d-flex justify-content-between">
    <div style="width: 40%">
        <ul class="d-flex justify-content-around">
            <h1 class="p-2">ImaginationStation</h1>
            <a class="text-center" asp-action="AddPost" asp-controller="Post">Add a Post</a>
        </ul>
    </div>
    <div>
        <form asp-action="Logout" asp-controller="Login">
            <button class="btn btn-link">Logout</button>
        </form>
    </div>
</div>
<hr>